.cards {
    padding-top: 100px;
  
    background: #fbfbf3;
  }

  ul {
    list-style: none;
  }
 .li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #09371f; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
 
  @media screen and (max-width: 540px){
    
  }
  h1 {
    text-align: center;
    color: #09371f;
  }
  
  .cards__container {
    background-color:rgba(242,237,219,255);
    
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1920px;
    width: 97%;
    margin: 0 auto;
  }
  
  .cards__wrapper {
    
    position: relative;
    margin: 50px 0 45px;
    width: 97%;
  }
  
  .cards__items {
    margin-bottom: 24px;
    
  }
  
  .cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
   height: 100%;
    transition: all 0.2s linear;
    background-color: #fbfbf3;
  }
 .dummy{
width: 97%;

 }
  .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    
    overflow: hidden;
    text-decoration: none;
  }
  
  .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 7%;
    overflow: hidden;
    
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    
    max-width: calc((100%) - 60px);
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #09371f;
    box-sizing: border-box;
  }
  
  
  
  .cards__item:hover {
    transform: scale(1.05);
  }
  
  .cards__item__info {
    padding: 20px 30px 30px;
  }
  
  .cards__item__text {
    color: #020202;
    font-size: 17px;
    line-height: 24px;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }
  @media only screen and (max-width: 534px) {
  .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 17%;
    overflow: hidden;
    
  }}