.containerrr{
position: relative;
 height: 800px;
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 background-color: #fbfbf3;
}
.container-home {
    position: relative;
    z-index: 0;
 overflow-x: hidden;
    height: 850px;
width: 90%;
    float: right;
    right: -70px;
    
    }
    img {
        
        border: 0;
        max-width: 100%;
        vertical-align: middle;
        display: inline-block;
      }
    .heading {
        margin-left: -115px;
        margin-top: 24px;
        font-size: 48px;
        line-height: 1.1;
        font-weight: 600;
        color: #09371f;
        font-family: 'PT Sans', sans-serif;
        text-decoration: none;
        
    }
   
    .home__hero-img {
        position:absolute;
        
        max-width: 100%;
       
        margin-top: 0;
        margin-right: 0;
        margin-left: 10px;
        padding-right: 0;
      }
    .home__hero-text-wrapper {
    position: absolute;
    z-index: 2;
    float: left;
    background-color: rgba(242,237,219,255);
    height: 450px;
    width: 700px;
    top: 140px;
    left: 20px;
    opacity: 0.97;
    }
    .home__hero-subtitle {
        max-width: 440px;
        margin-left: 30px;
        margin-bottom: 35px;
        font-size: 18px;
        line-height: 24px;
      }
     
    
    
  @media screen and (max-width: 991px) {
    .container-home {
      padding-right: 30px;
      padding-left: 30px;
      right: -45px;
    }
  }
  
  @media screen and (max-width: 740px) {
    .home__hero-text-wrapper {
      padding-bottom: 65px;
      width: 600px;
      
    }
    .heading {
      margin-left: 0;
      
  }
  .container-home {
    padding-right: 30px;
    padding-left: 30px;
    right: -35px;
  }
}
    @media screen and (max-width: 640px) {
        .home__hero-text-wrapper {
          padding-bottom: 65px;
          width: 500px;
   
        }
        .container-home {
          padding-right: 30px;
          padding-left: 30px;
          right: -30px;
        }
      }
    @media screen and (max-width: 540px) {
        .home__hero-text-wrapper {
          padding-bottom: 65px;
          width: 459px;
        }
          .home__hero-subtitle {
            max-width: 340px;
            margin-left: 30px;
            margin-bottom: 35px;
            font-size: 18px;
            line-height: 24px;
          }
   
        }
        @media screen and (max-width: 440px) {
          .home__hero-text-wrapper {
            padding-bottom: 65px;
            width: 92%;
            margin: auto;
            opacity: 0.90;
          }
          .home__hero-subtitle {
            max-width: 310px;
            margin-left: 25px;
            margin-bottom: 35px;
            font-size: 16px;
            line-height: 24px;
          }
          .containerrr{
          height: 700px;
          
          }
          .container-home {
            
            right:0;
          }
        }
          
           
    @media screen and (max-width: 540px){
        .home__hero-img{
          height: 90%;
          width: 100%;
          margin-top: 0;
          margin-right: 10px;
          margin-left: 0;
          padding-right: 0;
          left: 10px;

        }
       
        
    }




    h1{
padding-top: 20px;
    }
    p{
      padding-top: 25px;
      width: 100%;
    }
    
  .apply{
    color: #09371f;
  }
  .apply:hover{
    color: #fbfbf3;
  }